<h1>Display your Pirate here</h1>

<p>Name: </p> <%=@pirate.name%>
<p>Weight: </p> <%=@pirate.weight%>
<p>Height: </p> <%=@pirate.height%>

<h2>Display your first ship here</h2>

<p>Name: </p> <%=@ship1.name%>
<p>Type: </p> <%=@ship1.type%>
<p>Booty: </p> <%=@ship1.booty%>

<h2>Display your second ship here</h2>

<p>Name: </p> <%=@ship2.name%>
<p>Type: </p> <%=@ship2.type%>
<p>Booty: </p> <%=@ship2.booty%>
