
<h1>Pirates</h1>

<div class="pirate">
  <p>Name: <%= @pirate.name %></p><br>
  <p>Weight: <%= @pirate.weight %> pounds</p><br>
  <p>Height: <%= @pirate.height %> inches</p>
</div><br>

<h2>First Ship</h2>
<%= @ships[0].name %>
<%= @ships[0].type %>
<%= @ships[0].booty %>

<h2>Second Ship</h2>
<%= @ships[1].name %>
<%= @ships[1].type %>
<%= @ships[1].booty %>
